{$DOMAIN} {
  encode zstd gzip
  reverse_proxy app:3000 {
    header_up X-Real-IP {remote_host}
  }
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy same-origin
    X-Frame-Options DENY
  }
}
